.testimonials {
    padding: 5rem 3rem;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
    align-items: center;
}