.section-header {
    font-size: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.section-header>span {
    background-color: #495e57;
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 15px;
}